/*Main container*/
.Profilepage {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

/*Own Reviews container*/
.OwnReviews {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #030303;
    margin: 15px 15px 15px 50px;
}

/*Favourite Movies and Groups container*/
.FavouriteMoviesAndGroups {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 15px 15px;
}


.PostsAndNews {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #030303;
    margin: 15px 50px 15px 15px;
}

.OwnReviewsHeader,
.FavouriteMoviesHeader,
.GroupsHeader,
.PostsAndNewsHeader {
    background-color: orange;
    width: 100%;
    text-align: center;
    border: 1px solid #030303;
    margin-bottom: 5px;
}

.MovieTitle,
.Rating,
.Text,
.GroupName,
.placeholderImage {
    width: 90%;
    text-align: center;
    margin-bottom: 5px;
}


/*Fix later*/
.placeholderImage {
    margin-left: 30px;
}

.OwnReviews .MovieTitle,
.PostsAndNews .MovieTitle {
    border: 1px solid #030303;
    align-items: center;
}

.FavouriteMovies .MovieTitle {
    text-align: left;
}

.Groups .GroupName {
    text-align: left;
}

.PostsAndNews .Buttons {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px 5px 0px;
}

.OwnReviews .Buttons {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 5px 40px;
}

.Groups .Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 5px 40px;
}

#ButtonLeft,
#ButtonRight {
    background-color: orange;
    border: 1px solid #030303;
}

/*Child containers (Parent: FavouriteMoviesAndGroups)*/
.FavouriteMovies,
.Groups {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    align-items: left;
    border: 1px solid #141313;
    margin: 0px 15px 15px 15px;
}

.FavouriteMoviesAndGroups .Groups {
    margin: 0px 15px 0px 15px;
}

ul.GroupsList {
    list-style-type: none;
    margin: 0;
    height: 100%;
}

/*Child container (Parent: OwnReviews)*/
.ProfilePageReview {
    display: flex;
    flex-direction: column;
    align-items: center;
}