.moviecontainer{
    display: flex;
    margin-top:2px;
    border-width: 1.5px;
    border-style: solid;
    border-color: orange ;
}
.elementimage{
    width:200px;
    height:150px;
    flex-basis: 33%;
}
.movieinfo{
    flex-basis: 66%;
}
.title{
    text-align: center;
    flex-grow:1;
    font-weight: bold;
    margin-top: 20px;
    border-style: double;
    border-width: 1px;
    border-color: orange;
}
.Movieheading{
 font-weight: bold;
 text-align: center;
}
.headingelement{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size:15px;
    align-items: center;
    text-align: center;
}